<section class="section-content padding-y bg" *ngIf="hotelData">
    <div class="container">

    <article class="card">
        <div class="card-body">
                <div class="row">
                    <aside class="col-md-6">
                            <article class="gallery-wrap">
                                <div class="card img-big-wrap">
                                    <img src="{{hotelData.image}}">
                                </div> <!-- card img-big-wrap.// -->
                                
                            </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <main class="col-md-6">
                        <article>
                            <h1 class="title">{{hotelData.title}}</h1>
                             
    
                            <hr>
                
                            <div class="mb-3">

                                <h3>{{hotelData.location}}</h3>
                                <p>{{hotelData.description}}</p>
                                
                            </div>
                            
                           
    
                            <div class="mb-3">
                                <var class="price h4">${{hotelData.price}}</var> <br>
          
                            </div> <!-- price-detail-wrap .// -->
    
                            <div class="mb-4">
                                <button class="btn btn-primary mr-1">Book now</button>
                                
                            </div>
                            
                        </article> <!-- product-info-aside .// -->
                    </main> <!-- col.// -->
                </div> <!-- row.// -->
        </div> <!-- card-body.// -->
    </article>
    <article class="card mt-5">
        <div class="card-body">
            <div class="row">
                <aside class="col-md-6">
                    <h5>Specificationd</h5>
                    <dl class="row">
                          <dt class="col-sm-3">Hotel Locations</dt>
                          <dd class="col-sm-9">All around SriLanka with various facilities</dd>
    
                          <dt class="col-sm-3">Serves</dt>
                          <dd class="col-sm-9">single roo, double rooms and family rooms</dd>
    
                          <dt class="col-sm-3">Categories</dt>
                          <dd class="col-sm-9">equally luxturious ocean and city views</dd>
    
                          <dt class="col-sm-3">Facilities</dt>
                          <dd class="col-sm-9">Attached bathroom with living rooms space</dd>
                          
                          <dt class="col-sm-3">offers</dt>
                          <dd class="col-sm-9">customized breakfast or dinner can be selectable</dd>
                    </dl>
                </aside>
                <aside class="col-md-6">
                    <h5>Features</h5>
                    <ul class="list-check">
                        <li>variety of categories</li>
                        <li>variety of view scenaries</li>
                        <li>customer friendly staff service</li>
                        <li>best seasonal offers</li>
                    </ul>
                </aside>
            </div> <!-- row.// -->
            <hr>
            <p>
                You can sometimes book a hotel as late as the day before check-in, but most of the time, you'll want to book well in advance. You can see what's available up to 40 days in advance, and even monitor the price trends if you're not ready to book right away. Prices tend to go down the closer it gets to the date, especially around the 21-day mark. 21 days from your check-in, prices are generally somewhat normal, with prices often falling, then briefly rising
            </p>
        </div> <!-- card-body.// -->
    </article>
    </div>
    

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
