<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand text-title title-logo h1 align-self-center" href="#">
      HotelSkyBook
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main_nav"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="align-self-center collapse navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
      id="main_nav"
    >
      <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/hotel" class="nav-link" href="#">Hotel</a>
          </li>
          <li class="nav-item">
            <a routerLink="/booking"class="nav-link" href="#">My Booking</a>
          </li>
          <li class="nav-item">
            <a routerLink="/aboutus"class="nav-link" href="#">About us</a>
          </li>
        </ul>
      </div>
      <div>
        <div class="row">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn-profile"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              profile
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Profile</button>
              <button ngbDropdownItem routerLink="/signin">Log out</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Close Header -->
