<main>
  <section>
    <!--Carousel Slider -->
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a target="_blank" href="#"
            ><img src="" class="d-block w-100" alt=""
          /></a>
        </div>
        <div class="carousel-item">
          <a target="_blank" href="#"
            ><img src="" class="d-block w-100" alt=""
          /></a>
        </div>
        <div class="carousel-item">
          <a target="_blank" href="#"
            ><img src="" class="d-block w-100" alt=""
          /></a>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
  <section id="about-us" class="py-5">
    <div class="container">
      <div class="text-center py-4">
        <h1>Hotel Reservation</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a target="_blank" href="#">
            <img src="" class="d-block img-fluid" alt="" />
          </a>
        </div>
        <div class="col-md-9">
          <p class="lead text-muted">
            Comfort with exraordinary facilities will be delivered at your
            service where the most experienced and customer friendly service is
            awaiting to serve our happy customers.
          </p>
          <p>
            <a href="#" class="btn btn-primary my-2 me-2">More Information</a>
            <a href="#" class="btn btn-secondary my-2">Contact </a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="best-of-us" class="py-5 bg-light">
    <div class="container">
      <div class="text-center py-4">
        <h1>Best of Us</h1>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 mb-2">
          <div class="box-part text-center">
            <i
              class="text-primary fas fa-heart fa-3x mb-3"
              aria-hidden="true"
            ></i>
            <div class="title">
              <h4>Sea View</h4>
            </div>
            <div class="text mb-3">
              <span
                >Weekend joy with the best sea view that you will ever see.
                designed for customers who are oceanic from birth.
              </span>
            </div>
            <a class="btn btn-outline-primary" href="#">view More</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 mb-2">
          <div class="box-part text-center">
            <i
              class="text-success fas fa-laptop fa-3x mb-3"
              aria-hidden="true"
            ></i>
            <div class="title">
              <h4>City Hunt</h4>
            </div>
            <div class="text mb-3">
              <span
                >leaving your sorrow aside with the continuous movmetn and rapid
                change of the outer world. the view is focused on city side
                where customers can have eagle eyes on the road.</span
              >
            </div>
            <a class="btn btn-outline-success" href="#">View More</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 mb-2">
          <div class="box-part text-center">
            <i
              class="text-danger fas fa-box-open fa-3x mb-3"
              aria-hidden="true"
            ></i>
            <div class="title">
              <h4>Luxturious Indoor</h4>
            </div>
            <div class="text mb-3">
              <span
                >the best silence where the nature never distracts you. This is
                espessially built for customers who likes to enjoy the indoor
                with full privacy
              </span>
            </div>
            <a class="btn btn-outline-danger" href="#">View More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="24/7 Accomadations" class="py-5">
    <div class="container">
      <div class="row text-center">
        <div class="py-4">
          <h1>24/7 Accomadations</h1>
        </div>

        <div class="col-sm-4 mb-2">
          <div class="card shadow-sm">
            <div class="card-header bg-light">
              <h4 class="my-0 font-weight-normal">Personal</h4>
            </div>
            <div class="card-body bg-light">
              <h1 class="card-title pricing-card-title">
                $90 <small class="text-muted">per night</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Breakfast included</li>
                <li>Single bed</li>
                <li>1 Attched Bathroom</li>
                <li>Sea view [$110]</li>
              </ul>
              <button type="button" class="btn btn-block btn-outline-primary">
                Get started
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-2">
          <div class="card shadow-sm">
            <div class="card-header bg-info text-light">
              <h4 class="my-0 font-weight-normal">Newly Duo</h4>
            </div>
            <div class="card-body bg-info text-light">
              <h1 class="card-title pricing-card-title">
                $110 <small>per night</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Breakfast included</li>
                <li>Double Bed</li>
                <li>1 Attached Bathroom with hot tub</li>
                <li>Sea view [$150]</li>
              </ul>
              <button type="button" class="btn btn-block btn-light">
                Get started
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-2">
          <div class="card shadow-sm">
            <div class="card-header bg-success text-light">
              <h4 class="my-0 font-weight-normal">Family</h4>
            </div>
            <div class="card-body bg-success text-light">
              <h1 class="card-title pricing-card-title">
                $120 <small>per night</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Breakfast and dinner included</li>
                <li>1 double bed & a single bed</li>
                <li>1 Attached Bathroom</li>
                <li>sea viev [$180]</li>
              </ul>
              <button type="button" class="btn btn-block btn-light">
                Get started
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="feedback" class="py-5 bg-light">
    <div class="container">
      <div class="text-center py-4">
        <h1>Feedbacks</h1>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="#">
              <img class="img-fluid" src="" alt="" />
            </a>
            <div class="card-body">
              <div class="stars d-inline">
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star"></span>
              </div>
              <p class="card-text">
                This is the best expeeriencing site ever. nothing was far from
                being perfect. it seemed like everything worked smooth.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">By Sherwin</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="#">
              <img class="img-fluid" src="" alt="" />
            </a>
            <div class="card-body">
              <div class="stars d-inline">
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star"></span>
              </div>
              <p class="card-text">
                The appearences were fantsatic and everything described were
                exactly the same. no complains at all and can recomend this site
                to anyone.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">By Poorna</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a href="#">
              <img class="img-fluid" src="" alt="" />
            </a>
            <div class="card-body">
              <div class="stars d-inline">
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star text-warning"></span>
                <span class="fas fa-star"></span>
              </div>
              <p class="card-text">
                Best visited application ever. Every movment was just one click
                away and they had very quick responses and everything is easy to
                choose. very user friendly application.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">By Menura</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
