<div class="container">
    <div class="row">
      <ng-container >
        <div class="card col-md-3" >
  
          <img src="https://c1.wallpaperflare.com/preview/710/798/389/manor-house-sri-lanka-hotel-pool.jpg" alt="" />
          <div class="card-body">
            <h3 class="card-title">
                Taj Samudra</h3>
            <h5 class="card-location">Colombo</h5>
            <p class="card-text">
                Bright and airy, elegant rooms have classic wood furnishings and comfortable seating areas. They are fitted with cable TV, a fridge and a tea/coffee maker.
              
            </p>
            <p><strong>Price : 10$</strong></p>
            <h6 class="card-dy">For tonight</h6>
            <p>date:from 2023/01/23 to 2023/01/25</p>
            <button type="button" class="btn btn-danger">cancel</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  
